.backgrnd{
  background-image:url("lib/pro2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size:cover;
}

 #nav img{
	border-radius: 10px 10px 10px 10px;
	width:180px;
  float: left;
  height: 7.2vh;
	}

*{
     margin: 0;
     padding: 0;
     user-select: none;
     box-sizing:border-box;
}
#nav{
  background-color:black;
  box-shadow: 2px 2px 2px 2px white,0px 6px 6px 0px white ;
  display:flex;
  justify-content: space-between;
  padding:0.3rem;
}

a,#nav{
  color:white;
  font-size:18px;
  font-family:"Segoe UI",Arial,sans-serif;
  text-decoration: none;
  line-height: 2.4;
}
#nav a{
  padding:1rem;
}

#top{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#menu a:hover{
  background-color: white;
  color:red;
  border-radius: 10px 10px 10px 10px;
}

#center a:hover{
  background-color:black;
}

#center ul{
    list-style: none;
    position: relative;
    display: inline-block;
}

#center ul #text{
    position:absolute;
    top: 0;
    left: 0;
    right:0;
    color:white;
    font-size:18px;
    pointer-events: none;
    line-height:0.8;
    padding: 1rem;
    }
#center ul:hover #text{
    opacity: 0;
    transition: opacity .2s .125s ease-out;
    border-radius: 10px;
    background-color:white;
}
#center ul li{
    display: inline-block;
    height: 50px;
    width:20px;
    line-height:1.7;
    margin: 0 -15px;
    cursor: pointer;
    border-radius: 0;
    transition: background-color .5s ease-out,
                border-radius    .5s  .25s ease-out,
                margin .5s .25s ease-out;
}
#center ul li:hover{
opacity: 0.5;
}

#center ul li i{
    color:white;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.8s; 
    justify-content: center;
    line-height:2.3;
}

#center ul:hover li i {
  opacity: 1;
}

#center ul li:nth-child(1){
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
#center ul li:nth-child(2){
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
#center ul li:nth-child(3){
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
#center ul li:nth-child(4){
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
#center ul:hover li{
    margin:0 0px;
}
#bars{
  display: none;
  cursor: pointer;
}

 h1{
    
 	color: white;
 	font-size: 60px;
 	margin: 3.5%;
 	margin-top: 4.8%;
 }

 p{
 	color: white;
 	font-size: 20px;
 	margin-left: 5.5%;
 	border:solid hidden;
 	margin-right: 55%;
 }

 

/*animated button for beginners and advanced...........................*/

.button a{
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  margin: 80px 0;
  color: orangered;
  font-size: 26px;
  text-decoration: none;
  margin-left: 9%;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
}
.button a:nth-child(1){
  filter: hue-rotate(290deg);
}

.button a:nth-child(1){
  filter: hue-rotate(110deg);
}

.button a:hover{
  background: red;
  color: black;
  border-radius: 5%;
  box-shadow:3px 3px 3px 3px red;
}




.button a span{
  position: absolute;
  display: block;

}


.button a span:nth-child(1){
  top:0;left: -100%;
  width:100%;
  height:2px;
  background: linear-gradient(90deg,transparent,green);
  animation:animate1 1s linear infinite;
}
@keyframes animate1{
  0%{left:-100%;  }
  50%,100%{left:100%;}
}
.button a span:nth-child(2){
  top: -100%;right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,blue);
  animation: animate2 1s linear infinite;
  animation-delay: .25s;
}
@keyframes animate2{
  0%{top:-100%;}
  50%,100%{top:100%;}
}
.button a span:nth-child(3){
  bottom: 0;right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,blue);
  animation: animate3 1s linear infinite;
  animation-delay: .5s;
}
@keyframes animate3{
  0%{right:-100%; }
  50%,100%{right:100%;}
}

.button a span:nth-child(4){
  bottom:-100%;left:0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,red);
  animation: animate4 1s linear infinite;
  animation-delay: .75s;
}
@keyframes animate4{
  0%{bottom:-100%;  }
  50%,100%{bottom:100%;}
}

.button a span:nth-child(4){
  bottom:-100%;left:0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,red);
  animation: animate4 1s linear infinite;
  animation-delay: .75s;
}
@keyframes animate4{
  0%{bottom:-100%;  }
  50%,100%{bottom:100%;}
}


@media only screen and (max-width:1024px) and (max-height: 700px)
{
#nav img{
        border-radius: 10px 10px 10px 10px;
        width:200px;
        height:9vh;
        }
    
#nav{
  background-color:black;
  box-shadow: 2px 2px 2px 2px white,0px 6px 6px 0px white ;
  display:flex;
  justify-content: space-between;
  padding:0.1rem;
}
#nav a{
  padding:0.4rem;
}

#logo{
  display: block;
}
#menu{
    padding-top: 0.8rem;
    display:none;
    width: 100%;
    flex-direction: column;
}


#top{
  display:block;
}

#bars{
  display: block;
  margin-top: 1.9vh;
  margin-right: 1.3vh;
  font-size: 4.3vh;
 }

 #center ul li{
    height: 50px;
    width:40px;  
}
h1{
    
  color: white;
  font-size: 50px;
  margin: auto;
  margin-top: 7%;
  margin-left: 8%;
 }

 p{
  color: white;
  font-size: 22px;
  margin-left: 12%;
  border:solid hidden;
  margin-right: 45%;
  margin-top: 6%;
 }
 .backgrnd{
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size:cover;
}
.button a{
  position: relative;
  display: inline-block;
  padding: 20px 25px;
  margin: 80px 0;
  color: orangered;
  font-size: 20px;
  text-decoration: none;
  margin-left: 12%;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
}  
}
@media only screen and (max-width: 1024px) and (min-height: 1366px){
    #nav img{
        border-radius: 10px 10px 10px 10px;
        width:240px;
        height:6vh;
        }
    
#nav{
  background-color:black;
  box-shadow: 2px 2px 2px 2px white,0px 6px 6px 0px white ;
  display:flex;
  justify-content: space-between;
  padding:0.1rem;
}
#nav a{
  padding:0.4rem;
}

#logo{
  display: block;
}
#menu{
    padding-top: 0.8rem;
    display:none;
    width: 100%;
    flex-direction: column;
}


#top{
  display:block;
}

#bars{
  display: block;
  margin-top: 1.5vh;
  margin-right: 1.3vh;
  font-size: 3.5vh;
 }

 #center ul li{
    height: 50px;
    width:40px;  
}
h1{
    
  color: white;
  font-size: 60px;
  margin: auto;
  margin-top: 7%;
  margin-left: 8%;
 }

 p{
  color: white;
  font-size: 22px;
  margin-left: 12%;
  border:solid hidden;
  margin-right: 40%;
  margin-top: 6%;
 }
 .backgrnd{
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size:cover;
}
.button a{
  position: relative;
  display: inline-block;
  padding: 20px 25px;
  margin: 80px 0;
  color: orangered;
  font-size: 20px;
  text-decoration: none;
  margin-left: 12%;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
}
}



@media only screen and (max-width: 768px){
    #nav img{
        border-radius: 10px 10px 10px 10px;
        width:148px;
        height:8vh;
        }
    
#nav{
  background-color:black;
  box-shadow: 2px 2px 2px 2px white,0px 6px 6px 0px white ;
  display:flex;
  justify-content: space-between;
  padding:0.1rem;
}
#nav a{
  padding:0.4rem;
}

#logo{
  display: block;
}
#menu{
    padding-top: 0.8rem;
    display:none;
    width: 100%;
    flex-direction: column;
}


#top{
  display:block;
}

#bars{
  display: block;
  margin-top: 2vh;
  margin-right: 1.3vh;
  font-size: 3.5vh;
 }

 #center ul li{
    height: 50px;
    width:40px;  
}
h1{
    
  color: white;
  font-size: 37px;
  margin: auto;
  margin-top: 7%;
  margin-left: 8%;
 }

 p{
  color: white;
  font-size: 17px;
  margin-left: 10%;
  border:solid hidden;
  margin-right: 40%;
  margin-top: 8%;
 }
 .backgrnd{
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size:cover;
}
.button a{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 80px 0;
  color: orangered;
  font-size: 20px;
  text-decoration: none;
  margin-left: 12%;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
}
}



@media only screen and (max-width: 600px){
    #nav img{
        border-radius: 10px 10px 10px 10px;
        width:148px;
        height:7vh;
        }
    
#nav{
  background-color:black;
  box-shadow: 2px 2px 2px 2px white,0px 6px 6px 0px white ;
  display:flex;
  justify-content: space-between;
  padding:0.1rem;
}
#nav a{
  padding:0.4rem;
}

#logo{
  display: block;
}
#menu{
    padding-top: 0.8rem;
    display:none;
    width: 100%;
    flex-direction: column;
}


#top{
  display:block;
}

#bars{
  display: block;
  margin-top: 2vh;
  margin-right: 1.3vh;
  font-size: 3.5vh;
 }

 #center ul li{
    height: 50px;
    width:40px;  
}
h1{
    
  color: white;
  font-size: 33px;
  margin: auto;
  margin-top: 7%;
  margin-left: 12%;
 }

 p{
  color: white;
  font-size: 17px;
  margin-left: 16%;
  border:solid hidden;
  margin-right: 40%;
  margin-top: 8%;
 }
 .backgrnd{
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size:cover;
}
.button a{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 80px 0;
  color: orangered;
  font-size: 20px;
  text-decoration: none;
  margin-left: 12%;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
}
}




@media only screen and (max-width:400px){
    #nav img{
        border-radius: 10px 10px 10px 10px;
        width:140px;
        height:7vh;
        }
    
#nav{
  background-color:black;
  box-shadow: 2px 2px 2px 2px white,0px 6px 6px 0px white ;
  display:flex;
  justify-content: space-between;
  padding:0.1rem;
}
#nav a{
  padding:0.4rem;
}

#logo{
  display: block;
}
#menu{
    padding-top: 0.8rem;
    display:none;
    width: 100%;
    flex-direction: column;
}


#top{
  display:block;
}

#bars{
  display: block;
  margin-top: 2vh;
  margin-right: 1.3vh;
  font-size: 3.5vh;
 }

 #center ul li{
    height: 50px;
    width:40px;  
}
h1{
    
  color: white;
  font-size: 28px;
  margin: auto;
  margin-top: 7%;
  margin-left: 10%;
 }

 p{
  color: white;
  font-size: 16px;
  margin-left: 16%;
  border:solid hidden;
  margin-right: 20%;
  margin-top: 8%;
 }
 .backgrnd{
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size:cover;
}
.button a{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 40px 0;
  color: orangered;
  font-size: 20px;
  text-decoration: none;
  margin-left: 9%;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
}
}

@media only screen and (max-width:400px){
    #nav img{
        border-radius: 10px 10px 10px 10px;
        width:140px;
        height:7vh;
        }
    
#nav{
  background-color:black;
  box-shadow: 2px 2px 2px 2px white,0px 6px 6px 0px white ;
  display:flex;
  justify-content: space-between;
  padding:0.1rem;
}
#nav a{
  padding:0.4rem;
}

#logo{
  display: block;
}
#menu{
    padding-top: 0.8rem;
    display:none;
    width: 100%;
    flex-direction: column;
}


#top{
  display:block;
}

#bars{
  display: block;
  margin-top: 2vh;
  margin-right: 1.3vh;
  font-size: 3.5vh;
 }

 #center ul li{
    height: 50px;
    width:40px;  
}
h1{
    
  color: white;
  font-size: 25px;
  margin: auto;
  margin-top: 7%;
  margin-left: 8%;
 }

 p{
  color: white;
  font-size: 16px;
  margin-left: 16%;
  border:solid hidden;
  margin-right: 20%;
  margin-top: 8%;
 }
 .backgrnd{
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size:cover;
}
.button a{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 30px 0;
  color: orangered;
  font-size: 17px;
  text-decoration: none;
  margin-left: 25%;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
}
}




